@font-face {
  font-family: 'Onest-Light';
  src: url('fonts/Onest-Light.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Onest-regular';
  src: url('fonts/Onest-Regular.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Onest';
  src: url('fonts/Onest-Medium.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Onest-bolt';
  src: url('fonts/Onest-Bold.ttf');
  font-style: normal;
}

.banner {
  width: 1440px;
  height: 90px;
  background: url("images/background.svg");
}

.school-bag {
  position: absolute;
  top: 5.77px;
  left: 64.13px;
}

.banner-text {
  position: absolute;
  top: 15px;
  left: 160px;
  width: 222px;
  height: 42px;
  font-family: 'Onest-bolt', sans-serif;
  font-size: 16px;
  line-height: 20.8px;
  text-align: left;
  opacity: 1;
}

.additional-text {
  position: absolute;
  width: 279px;
  height: 17px;
  top: 62px;
  left: 160px;
  font-family: 'Onest', sans-serif;
  font-size: 13px;
  line-height: 16.9px;
  text-align: left;
}

.new-text {
  position: absolute;
  width: 546px;
  height: 17px;
  top: 16px;
  left: 543px;
  gap: 0px;
  opacity: 0px;
  font-family: 'Onest', sans-serif;
  font-size: 13px;
  line-height: 16.9px;
  text-align: left;
}

.bonus-text {
  position: absolute;
  width: 546px;
  height: 42px;
  top: 35px;
  left: 543px;
  gap: 0px;
  opacity: 0px;
  font-family: 'Onest-bolt', sans-serif;
  font-size: 16px;
  line-height: 20.8px;
  text-align: left;
}

.arrows {
  position: absolute;
  top: 23.94px;
  left: 447.73px;
}

.arrows-2 {
  position: absolute;
  top: 46.18px;
  left: 1067px;
}

.button {
  position: absolute;
  width: 160px;
  height: 29px;
  top: 31px;
  left: 1120px;
  border-radius: 5px;
  background-color: #136EF6;
  color: #FCFCFC; 
  font-family: 'Onest', sans-serif;
  font-size: 14px;
  line-height: 18.2px;
  text-align: center;
  border: none;
}

.computer {
  position: absolute;
  top: 36.63px;
  left: 1328.52px;
}

.highlight {
  color: #136EF6;
}

/*! Форма */

.form {
  width: 930px;
  height: 440px;
  top: 184px;
  left: 255px;
  background: url("images/background1.svg");
}

.close {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 19px;
  right: 15px;
}

.form-text {
  position: absolute;
  left: 55px;
  top: 36px;
  font-family: 'Onest-bolt', sans-serif;
  font-size: 34px;
  font-weight: 700;
  line-height: 44.2px;
  text-align: left;
  color: #136EF6;
}

.gift-text {
  position: absolute;
  width: 345px;
  height: 23px;
  top: 98px;
  left: 55px;
  font-family: 'Onest', sans-serif;
  font-size: 18px;
  line-height: 23.4px;
  text-align: left;
}

.deposit-text {
  position: absolute;
  width: 430px;
  height: 60px;
  top: 137px;
  left: 116px;
  font-family: 'Onest-regular', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 19.5px;
  text-align: left;
}

.consultation-text {
  position: absolute;
  width: 430px;
  height: 60px;
  top: 207px;
  left: 116px;
  font-family: 'Onest-regular', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 19.5px;
  text-align: left;
}

.freeze-text {
  position: absolute;
  width: 430px;
  height: 60px;
  top: 278px;
  left: 116px;
  font-family: 'Onest-regular', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 19.5px;
  text-align: left;
}

.gift-description {
  position: absolute;
  width: 490px;
  height: 48px;
  top: 353px;
  left: 55px;
  font-family: 'Onest-Light', sans-serif;
  line-height: 15.6px;
  font-size: 12px;
}

.revenue-icon {
  position: absolute;
  top: 137px;
  left: 56px;
}

.online-chat-icon {
  position: absolute;
  top: 210px;
  left: 56px;
}

.notes-icon {
  position: absolute;
  top: 282px;
  left: 55px;
}

.onest {
  font-family: 'Onest', sans-serif;
}
